<h1>Upload Data</h1>
    <form action="/uploadData" method="POST" name="form">
        <div class="col-md-4 col-md-offset-4">
            <!--
            <div class="form-group">
                <label class="control-label" for="description">Name</label>
                
            </div>
            <div class="form-group">
                <label class="control-label" for="link">Link</label>
                
            </div>
			
			
			
			<textarea rows = "50" cols = "60" id = "text" name = "text">Enter datas here...</textarea>
            <input type="text" name = "text" size="50" > -->
			
            <button class="btn btn-default" type="submit">Submit</button>
        </div>
    </form>